.Node {
    padding-left: 0.4em;
    border-left: 2px solid #f0edec;
}

.Node .num {
    z-index: 0;
    color: #aaa;
    display: inline-block;
    float: left;
    padding-right: 0.5em;
}

.Node ul.alternatives {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Node ul.alternatives li {
    display: inline-block;
    margin-right: 1em;
}

.Node ul.alternatives li button {
    font-family: "Mercury SSm A","Mercury SSm B","Mercury Text G2",Georgia,"Times New Roman","DejaVu Serif",serif;
    display: inline-block;
    border: 1px solid black;
    padding: 7px;
    font-size: 16px;
    background: white;
    box-shadow: 0 0 5px black;
    border-radius: 2px;
    
}

.Node ul.alternatives li button:disabled {
    color: black;
    background: rgba(230, 51, 35, 0.1);
    border-bottom: 1px solid #f0edec;
    box-shadow: inset 0 0 5px gold, inset 0 0 2px black;
    border: 1px solid black;
}

.Leaf ul.programmes {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Programme {
    border: 1px solid #f0edec;
    box-shadow: 2px 2px 5px #444;
    margin: 0.5em 0;
    padding: 0.5em;
    font-family: "Founders Grotesk X-Condensed",Helvetica,Arial,"Nimbus Sans L",sans-serif;
}
.Programme:hover {
    outline: 2px solid gold;
    cursor: pointer;
}

.Programme .programme-title {
    font-weight: bold;
}

.Programme .programme-info {
    font-size: smaller;
}

.Programme .flags .flag {
    text-transform: uppercase;
    font-weight: 400;
    padding: 0 0.5em;

}

.Node, .Leaf {
    -webkit-animation: fadein 1s; /* Chrome */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
